* {
  box-sizing: border-box;
}

/* CONTAINER */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
